* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(img/Rectangle\ 12\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #1C1814;
}
header nav .add ul {
  display: flex;
  align-items: center;
}
header nav .add ul li {
  list-style: none;
  padding: 0px 20px;
}
header nav .add ul li a {
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-size: 20px;
}
header nav .add1 {
  align-items: center;
}
header nav .add2 ul {
  display: flex;
  align-items: center;
}
header nav .add2 ul li {
  list-style: none;
  padding: 0px 20px;
}
header nav .add2 ul li a {
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-size: 20px;
}
header nav .add2 ul img {
  padding: 5px;
}
header .add3 {
  color: #fff;
  width: 529px;
  height: 188px;
  margin-top: 175px;
  margin-left: 235px;
  font-size: 25px;
}
header .add3 h6 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
header .add3 button {
  width: 180px;
  height: 60px;
  color: #fff;
  background-color: #C99E71;
  border: none;
  font-size: 18px;
  margin-top: 80px;
}
header .add3 img {
  margin-left: 900px;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #14110E;
}
section .add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 170px;
}
section .add h1 {
  color: #fff;
  font-size: 24px;
}

.section-2 {
  width: 100%;
  height: 90vh;
  background-color: #14110E;
}
.section-2 .add1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .add1 .one1 {
  display: flex;
  flex-direction: column;
}
.section-2 .add1 .one1 img {
  padding: 18px;
}
.section-2 .add1 .two2 img {
  padding: 18px;
}
.section-2 .add1 .three3 {
  width: 510px;
  height: 635px;
  background-color: #1C1814;
  padding-left: 50px;
}
.section-2 .add1 .three3 h6 {
  margin-top: 150px;
  font-size: 18px;
  color: #C99E71;
}
.section-2 .add1 .three3 h1 {
  margin-top: 20px;
  font-size: 48px;
  color: #fff;
}
.section-2 .add1 .three3 p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 20px;
  font-size: 25px;
  color: #fff;
  line-height: 25px;
}

.section-3 {
  width: 100%;
  height: 100vh;
  background-color: #14110E;
}
.section-3 .one2 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 45px;
}
.section-3 .bigboss {
  padding: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-3 .bigboss .boss {
  font-family: "Righteous", sans-serif;
  width: 366px;
  height: 599px;
  background-color: #121315;
}
.section-3 .bigboss .boss img {
  width: 270px;
  height: 343px;
  background-size: cover;
  margin-left: 40px;
  padding: 30px 0px;
}
.section-3 .bigboss .boss p {
  color: #fcfbfb;
  margin-left: 72px;
  font-size: 22px;
}
.section-3 .bigboss .boss h1 {
  margin-top: 50px;
  margin-left: 25px;
  padding: 0px 50px;
  color: #FFFFFF;
}
.section-3 .bigboss .boss button {
  width: 169px;
  margin-top: 30px;
  height: 48px;
  margin-left: 84px;
  background-color: #C99E71;
  color: #fff;
  border: none;
}
.section-3 .jj button {
  width: Hug 252px px;
  height: Hug 62px px;
  color: #fff;
  background-color: #C99E71;
  margin-left: 820px;
  padding: 20px 100px 20px 100px;
  gap: 10px;
  opacity: 0px;
  font-size: 26px;
}

.section-4 {
  width: 100%;
  height: 80vh;
  background-color: #14110E;
}
.section-4 .add7 {
  width: 1170px;
  height: 530px;
  background-color: #1C1814;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 300px;
}
.section-4 .add7 .text7 h1 {
  font-size: 48px;
  color: #fff;
}
.section-4 .add7 .text7 p {
  font-size: 30px;
  color: #fff;
  line-height: 30px;
}
.section-4 .add7 .text7 button {
  width: 215px;
  height: 62px;
  background-color: #C99E71;
  color: #fcfbfb;
}

.section-7 {
  width: 100%;
  height: 80vh;
  background-color: #14110E;
}
.section-7 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 45px;
}
.section-7 .add8 {
  width: 565px;
  height: 10px;
  margin-left: 280px;
  line-height: 90px;
}
.section-7 .add9 {
  line-height: 90px;
  margin-left: 60%;
}
.section-7 .sss {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-7 .sss button {
  width: 215px;
  height: 62px;
  background-color: #C99E71;
  color: #fcfbfb;
}

.section-8 {
  width: 100%;
  height: 70vh;
}
.section-8 .k {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.section-8 .nnn {
  padding: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-8 .nnn .add10 .boss {
  font-family: "Righteous", sans-serif;
  width: 866px;
  height: 559px;
  background-color: #121315;
}
.section-8 .nnn .add10 .boss img {
  margin-top: 45px;
  height: 343px;
  margin-left: 215px;
}
.section-8 .nnn .add10 .boss h1 {
  color: #fff;
  margin-left: 395px;
}
.section-8 .nnn .add10 .boss p {
  margin-top: 55px;
  color: #fcfbfb;
  margin-left: 22px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-8 .nnn .add10 .boss button {
  width: 169px;
  margin-top: 30px;
  height: 48px;
  margin-left: 84px;
  background-color: #C99E71;
  color: #fff;
  border: none;
}

.section-9 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-9 .k {
  width: 510px;
  height: 635px;
  background-color: #1C1814;
  padding-left: 50px;
}
.section-9 .k h6 {
  margin-top: 55px;
  margin-left: 215px;
  font-size: 18px;
  color: #C99E71;
}
.section-9 .k1 {
  font-size: 45px;
  margin-left: 10px;
  color: #fcfbfb;
}
.section-9 .k2 {
  width: 489px;
  height: 64px;
  background-color: #14110E;
}
.section-9 .k2 .o {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  color: #fcfbfb;
  margin-left: 15px;
}
.section-9 button {
  width: Hug 202px px;
  height: Hug 62px px;
  margin-top: 50px;
  margin-left: 150px;
  padding: 20px 36px 20px 36px;
  background-color: #C99E71;
  color: #fff;
}

.section-10 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 48px;
}
.section-10 .bigboss {
  padding: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-10 .bigboss .boss {
  font-family: "Righteous", sans-serif;
  width: 366px;
  height: 599px;
  background-color: #121315;
}
.section-10 .bigboss .boss img {
  width: 290px;
  height: 343px;
  background-size: cover;
  margin-left: 40px;
  padding: 30px 0px;
}
.section-10 .bigboss .boss p {
  color: #fcfbfb;
  margin-left: 2px;
  font-size: 20px;
  margin-top: 9px;
}
.section-10 .bigboss .boss h1 {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 0px 0px;
  color: #FFFFFF;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #14110E;
}
footer .j .o {
  display: flex;
  justify-content: center;
}
footer .j ul {
  display: flex;
  align-items: center;
}
footer .j ul li {
  list-style: none;
  padding: 0px 20px;
}
footer .j ul li a {
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-size: 20px;
}
footer .j ul button {
  width: 328px;
  height: 62px;
  border-radius: 35px 35px 35px 35px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #1C1814;
}
footer .pp {
  padding: 30px 0px;
}
footer .pp .p {
  width: 100%;
  height: 5vh;
  background-color: #1C1814;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */